.table_container {
    overflow-x: auto;
    width: 100%;
}
.attendance_list {
    table-layout: fixed;
    width: auto;
}
.attendance_list th{
    padding: 0.5em;
}
.attendance_list td{
    padding: 0.5em;
    white-space: nowrap;
}